# Only change the IP if you're using a server with multiple network interfaces, otherwise change the port only.
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=essentialmode;userid=root;password="

# These resources will start by default.
exec resource.cfg
exec permissions.cfg


ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard
ensure JD_logs

#基本框架[essential]
start async
start cron
start es_admin2
start es_extended
start esplugin_mysql
start essentialmode
start fxmigrant
start mysql-async
start rgz_menu

#基本插件[esx]
start esx_addonaccount          #公職帳號
start esx_addoninventory        #公職保險箱
start esx_billing               #收據
start esx_datastore             #資料庫
start esx_identity              #身分證
start esx_license               #許可證
start esx_skin                  #皮膚
start esx_society               #老闆選單
start skinchanger               #皮膚選單
start nonpcdrop               #武器掉落
start resourcesD
start esx_scoreboard

#[jobs]就業中心跟各職業
start esx_jobs                  #基本職業
start esx_joblisting            #就職中心
start esx_policejob             #警察職業
start esx_taxijob                  #計程車職業
start esx_mechanicjob              #修車工插件
start Ozne_EolienneJob            #黑幫

#手機
start esx_addons_gcphone
start gcphone
start screenshot-basic

#[shop]各個商店
start esx_vehicleshop            #車商

#[ui]
start esx_menu_default
start esx_menu_dialog
start esx_menu_list

#[admin]
start vMenu
start esx_marker
start EasyAdmin
start txAdmin
start jsAdmin
start zone
start afkkick

#[[test]]基本登入畫面
start example-loadscreen
start load

#[esx1]
start esx_basicneeds      #食物條
start esx_status          #口渴度
start trew_hud_ui            
start SexySpeedometer      #實數表

#一般插劍
start showID
start weapon

#DiscordBot
start loginbot
start MakkieDiscordBot

#Ferrari

#Toyota
start Al
start regalia

#berz

#Audi

#Tesla
start CY

#Lamborghini
start lp700

#Nissan
start r50

#Yamaha
start yzrm19

#公職車
start Ambugtr #醫護車
start polchiron #警車

# This allows players to use scripthook-based plugins such as the legacy Lambda Menu.
# Set this to 1 to allow scripthook. Do note that this does _not_ guarantee players won't be able to use external plugins.
sv_scriptHookAllowed 0

# Uncomment this and set a password to enable RCON. Make sure to change the password - it should look like rcon_password "YOURPASSWORD"
#rcon_password ""

# A comma-separated list of tags for your server.
# For example:
# - sets tags "drifting, cars, racing"
# Or:
# - sets tags "roleplay, military, tanks"
sets tags "default"

# A valid locale identifier for your server's primary language.
# For example "en-US", "fr-CA", "nl-NL", "de-DE", "en-GB", "pt-BR"
sets locale "zh-TW" 
# please DO replace root-AQ on the line ABOVE with a real language! :)

# Set an optional server info and connecting banner image url.
# Size doesn't matter, any banner sized image will be fine.
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"

# Set your server's hostname
sv_hostname "小唷鎮測試福"

# Nested configs!
#exec server_internal.cfg

# Loading a server icon (96x96 PNG file)
#load_server_icon myLogo.png

# convars which can be used in scripts
set temp_convar "hey world!"

# Uncomment this line if you do not want your server to be listed in the server browser.
# Do not edit it if you *do* want your server listed.
#sv_master1 ""

# Add system admins
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_principal identifier.steam:11000013E0355E4 group.admin # add the admin to the group

# Hide player endpoints in external log output.
sv_endpointprivacy true

# Server player slot limit (must be between 1 and 32, unless using OneSync)
sv_maxclients 32

# Steam Web API key, if you want to use Steam authentication (https://steamcommunity.com/dev/apikey)
# -> replace "" with the key
set steam_webApiKey "9DCF91D6DD202AD054B26A002431F9CB"

# License key for your server (https://keymaster.fivem.net)
sv_licenseKey "4r1agf2w71dxmmekiwlff6zy90myrrz1"